/* global styles */ 
*,
::after,
::before {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400');

html {font-size: 16px;} 

:root {
    /* colors */
    --green-0: #0f3433;
    --green-20: #0c2a29;
    --green-40: #091f1f;
    --green-60: #061514;
    --greenLignt-0: #abd1c6;
    --greenLight-20: #bcdad1;
    --greenLight-40: #cde3dd;
    --greenLight-60: #ddede8;
    --greenLight-80: #eef6f4;
    --greenLight-100: #ffffff;
    --red-0 : #e82c10;
    --red-20 : #ed5640;
    --red-40 : #f18070;
    --red-60 : #f6ab9f;
    --red-80 : #fad5cf;
    --black: #000000;
    --red-light: #f8d7da;

    /* fonts  */

    --ff: 'Poppins', sans-serif;

    /* rest of the vars */
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;

    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body{
    height: 100vh;
    background-color: #abd1c6;
    font-family: var(--ff);
    font-weight: 400;
    line-height: 1.75;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-weight: 400;
    line-height: 1.3;
    color: var(--green-20);
}

h1 {
    margin-top: 0;
    padding-top: 0;
    font-size: 2rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

.textFont {font-size: 0.833rem;}

/*img{
    width: 100%;
    display: block;
    object-fit: cover;
}
*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--greenLight-100);
    font-size: 1rem;
}

a:hover{
    color: var(--red-0);
}

.page {
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
    padding-top: 2rem;
    min-height: calc(100vh - (6rem + 4rem));
}

/* Navbar*/

.navbar {
    width: 100%;
    height: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    overflow: hidden;
    text-transform: uppercase;
    padding-bottom: 1rem;
    transition: var(--transition);
}

.navbar .logo a {
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 0 0.9rem;
    font: 0.5em;
    width: 90vw;
    max-width: var(--max-width);

}

.nav-link {
    display: block;
    text-align: center;
    color: var(--green-60);
    transition: var(--transition);
    padding-bottom: 0.4rem;
    font-size: 1rem;
    letter-spacing: var(--letterSpacing);
    
}

.nav-link:hover {
    color: var(--red-0);
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: var(--green-0);
}

.cc-adherer {
    color: var(--greenLight-100);
}

@media (min-width: 992px) {
    .navbar {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
        align-content: center;
        margin: 0 auto;
    }
}

/* banner */

.banner {
    height: 40em;
    position: relative;
    margin-bottom: 2rem;
    background: url('../img/banner.jpg') center center fixed no-repeat;
    background-size: cover;
    text-align: justify;
}

.banner h1 {
    text-align: start;

}

@media screen and (min-width: 992px) {

    .banner {
        height: 60rem;
    }
    
    .banner h1 {
        font-size: 3.052rem;
    }
}

/* card */
.available h3 {
    padding-bottom: 0.8rem;
    border-bottom: 5px;
    border-bottom-style: dotted;
    border-bottom-color: var(--red-0);
}

.card{
    background-color: var(--green-0);
    color: var(--greenLignt-0);
}


.card h5{
    color: var(--greenLight-100);
    font-weight: 100;
}

.text_muted{
    color: var(--red-light);
    font-size: 0.7rem;
}

.m_5{
    margin-left: 3rem;
}

@media screen and (min-width: 992px){
    .m_5{
        margin-left: auto;
    }
}

/* carrousel */

.cc-carousel{
    background-color: var(--green-20);
    color: var(--greenLignt-0);

}
.cc-carousel h3{
    color :var(--greenLight-100);
}

footer h5{
    color: var(--greenLight-100);
}

/* about page */ 

.about-page{
    display: grid;
    gap: 2rem 4rem;
    padding-bottom: 3rem;
}

.about-page h2 {
    text-transform: none;
    font-weight: bold;
}

.about-article p {
    font-size: 1rem;
    text-align: justify;
}

.about-img {
    border-radius: var(--borderRadius);
    height: 380px;
    display: none;
    align-self: center;
    margin-bottom: 1rem;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 992px) {

    .about-page{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px;
        align-items: center;
        margin-top: 10rem;

    }
    .about-img {
        height: 600px;
        display: block;
    }
}

.featured-formations{
    text-align: center;
    background-color: var(--green-0);
    padding: 3rem 2rem;
}
.featured-formations h3, h5{
    color: var(--greenLight-20);
}

.formation-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.formation-list a {
    margin: 2rem auto;
    padding: 0.5rem;
}

.formation-img{
    display: block;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 992px) {

.featured-formations {
    margin-top: 10rem;
    
}
.formation-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

}

